
.side-bar__group
  = link_to group_messages_path(group.id) do
    .side-bar__group-name
      = group.name
    .side-bar__group-message
      - if group.messages.present?
        - if group.messages.last[:content].present?
          = group.messages.last[:content]
        - else
          = "画像が投稿されています"
      - else
        = "まだメッセージがありません"  