.chat-main 
  .chat-main__group
    .chat-main__group-left-contents
      .chat-main__group-left-contents-name
        test
      .chat-main__group-left-contents-members
        member:
        .chat-main__group-left-contents-menber
          names1
        .chat-main__group-left-contents-menber
          names2
    .chat-main__group-right-contents
      =link_to "#",class: "chat-main__group-right-contents-edit-btn" do
        Edit
    
  .chat-main__messages
    - if @messages then
      - @messages.each do |message|
        .chat-main__message
          .chat-main__message-header
            .chat-main__message-header-name
              = message.user.name
            .chat-main__message-header-date
              = message.created_at.strftime("%Y/%m/%d %H:%m")
          .chat-main__message-content
            - if message.content.present?
              .chat-main__message-content-text
                = message.content
            = image_tag message.image.url , class: "chat-main__message-content-image" if message.image.present?
  .form
    = form_for [@group,@message] do |f|
      .chat-main__footer
        .chat-main__footer-input-box
          =  f.label :image, class: "chat-main__footer-input-box-imgicon" do
            = icon('far', 'image')
            = f.file_field :image, class: "chat-main__footer-input-box-imgbtn"
          = f.text_field :content, class: "chat-main__footer-input-box-textarea", placeholder: "type a message"
        = f.submit "Send", class: "chat-main__footer-send-btn"