.chat-main 
  .chat-main__group
    .chat-main__group-left-contents
      .chat-main__group-left-contents-name
        = @group.name
      .chat-main__group-left-contents-members
        member:
        - @group.users.each do |user|
          .chat-main__group-left-contents-member
            = user.name
    .chat-main__group-right-contents
      =link_to edit_group_path(@group.id),class: "chat-main__group-right-contents-edit-btn" do
        Edit
    
  .chat-main__messages
    = render @messages

  .form
    = form_for [@group,@message] do |f|
      .chat-main__footer
        .chat-main__footer-input-box
          =  f.label :image, class: "chat-main__footer-input-box-imgicon" do
            = icon('far', 'image')
            = f.file_field :image, class: "chat-main__footer-input-box-imgbtn"
          = f.text_field :content, class: "chat-main__footer-input-box-textarea", placeholder: "type a message"
        = f.submit "Send", class: "chat-main__footer-send-btn"